*{
    background-color: black;
     
}




#LOGO{
    width: 150px;
    height: 150px;
    position: relative;
    top: 0;
    left: 0;
    background-color: black;

}


        
    


#Menu{
    font: 3em sans-serif;
    position: relative;
    text-align: left;
    color: tomato;  
    left: 0%;
}
#Menu:active{
    color: yellow;
}















#Blurb{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    position: relative;
    color: white;
    max-width: 700px;
    max-height: 350px;
    padding-left: 20%;
    
   
}




#Phone{
    font-size: 15px;
    padding-left: 20%;
    color: tomato;
    max-height: 50px;


    
}
#Phone:active{
    color: yellow;
}
#Footer{
    color: tomato;
    padding-left: 20%;

}







#Items{
    color: white;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
    

}
.menu{
    font-family: sans-serif;
    font-size: 14px;
    grid-template-columns: repeat(8, 1fr);
}

.menu-group-heading{
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
    color: white;
    
}

.menu-group{
    display:grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}
.menu-items{
    display: flex;

}
.menu-item-heading{
    color: white;
}
#Chicken_wings{
    width: 90px;
    height: 80px;
    object-fit: cover;
    margin-right: 1.5em;

}
#chicken_description{
    color: white;


}

#mozza1{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1.5em;

}
#Mozza_description{
    color: white;

}


















#Cheese{
    width: 125px;
    height: 115px;
    flex-shrink: 0;
    margin-right: 1.5em;
    object-fit: cover;
}

@media screen and (min-width:992px){

    

    .menu{
        font-size:16px;

    }
    .menu-group{
        grid-template-columns:repeat(2, 1fr)
    }
    #Chicken_wings{
        width: 200px;
        height: 190px;
    
    }
    #chicken-description{
        width: 200px;
        height: 200px;
    }
    #Mozza_description{
        width: 200px;
        height: 200px;
    }
    #Cheese{
        width: 200px;
        height: 190px;
    }
    #Blurb{
        font-size: 16;

        
    }
}