*{
    background-color: black;
}




#LOGO{
    width: 150px;
    height: 150px;
    position: relative;
    top: 0;
    left: 0;
    background-color: black;
    

    
}


        
    


#Menu{
    font: 3em sans-serif;
    position: relative;
    text-align: right;
background-color: black;
    

    
    
    
}

#About_Us{
    font: 3em sans-serif;
    position: relative;
    text-align: right;
    background-color: black;
}


#Blurb{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    position: relative;
    left: 50vw;
    background-color: grey;
    width: 250px;
    height: 300px;
    margin-inline-start: initial;
    
}
#Phone{
    background-color: grey;

}
#Items{
    color: white;
}
